# Dashboard & UI 
streamlit
pandas
graphviz

# Database Drivers 
# For MongoDB
pymongo
# For Dgraph 
pydgraph
# For Cassandra
cassandra-driver

# For ChromaDB & AI 
chromadb
transformers
torch
scipy
nltk

# Utilities 
python-dotenv
